<div class="android-rim-outer">
  <div class="android-rim-inner">
    <div class="phone">

      <div class="status-bar">
        <span>9:30</span>
        <div class="camera"></div>
        <span>📶 📡 🔋</span>
      </div>


      <div *ngIf="selectedNode$ | async as node">
        <div class="header">
          <div class="logo">✈</div>
          <div class="title">{{node.messageName}}</div>
        </div>

        <div class="content">

          <app-tooltip [tooltip]="node" [previewMode]="true"></app-tooltip>
        </div>
      </div>

      <div class="bottom-bar">
        <span>RCS messaging</span>
        <span>💬 📎 😊</span>
      </div>

    </div>
  </div>
</div>