<div class="canvas-shell">
  <div class="toolbar">
    <!-- <button (click)="addTooltip()">Add Tooltip</button> -->
    <button (click)="saveJson()">Save JSON</button>
    <button (click)="resetTour()" style="margin-left:8px">Reset tour</button>
  </div>

  <div class="workspace">
    <div class="canvas" id="canvas" (click)="clearSelection()">
      <ng-container *ngFor="let t of tooltips">
        <app-tooltip [tooltip]="t" [selected]="selectedId === t.id" (selectTooltip)="select($event)"
          (editField)="onEditField($event, t.id)" (update)="updateTooltip($event)"
          (remove)="removeTooltip($event)"></app-tooltip>
      </ng-container>
    </div>

    <app-transform-controls [selectedId]="selectedId" [scalePercent]="getSelectedScalePercent()" (rotate)="rotateSelected($event)" (zoom)="zoomSelected($event)" (reset)="resetTransform()"></app-transform-controls>

    <div class="panel" *ngIf="selectedId">
      <app-property-panel [tooltip]="selectedTooltip" [focusedField]="focusedField" (update)="updateTooltip($event)"
        (clearFocus)="onClearFocus()" (close)="clearSelection()"></app-property-panel>
    </div>

    <app-tour-overlay [tourStep]="tourStep" [tourTipLeft]="tourTipLeft" [tourTipTop]="tourTipTop" (nextTour)="nextTour()" (skipTour)="skipTour()"></app-tour-overlay>
    </div>
  </div>